<p>
  <button (click)="zetBestaandeLocaties()">Zet bestaande locaties</button>
</p>

<awv-kaart-classic [naam]="'tabel'" [hoogte]="800"
                   [zoom]="10" [selectieModus]="'single'" [middelpunt]="[154100, 208500]" >

  <awv-kaart-zoeker></awv-kaart-zoeker>

  <awv-locatie-ingave [bestaandeLocaties]="bestaandeLocaties"></awv-locatie-ingave>

  <awv-kaart-geoserver-laag [titel]="'Referentiepunten'" [laagNaam]="'referentiepunten'" [versie]="'1.1.1'"></awv-kaart-geoserver-laag>
  <awv-kaart-tilecache-laag [titel]="'Dienstkaart'" [laagNaam]="'dienstkaart'"></awv-kaart-tilecache-laag>

  <awv-kaart-zoomknoppen></awv-kaart-zoomknoppen>
  <awv-kaart-standaard-interacties [focusVoorZoom]="true"></awv-kaart-standaard-interacties>
</awv-kaart-classic>

